services:
  clickhouse:
    image: clickhouse/clickhouse-server:latest
    container_name: clickhouse
    ports:
      - "8123:8123"
      - "9000:9000"
    volumes:
      - ./clickhouse/init.sql:/docker-entrypoint-initdb.d/init.sql
    ulimits:
      nofile:
        soft: 262144
        hard: 262144
    deploy:
      resources:
        limits:
          cpus: "1"
          memory: 1g

  ingestion:
    build: ./ingestion
    container_name: ct_ingestor
    depends_on:
      - clickhouse
    restart: unless-stopped
    deploy:
      resources:
        limits:
          cpus: "1"
          memory: 1g

  api:
    build: ./api
    container_name: ct_api
    profiles: ["api"]              # API is off by default
    environment:
      CLICKHOUSE_HOST: clickhouse
      CLICKHOUSE_DB: ct
      RATE_LIMIT_ENABLED: "false"  # off by default
      RATE_LIMIT: "100/minute"     # default limit if enabled
    ports:
      - "5000:5000"
    depends_on:
      - clickhouse
    restart: unless-stopped
    deploy:
      resources:
        limits:
          cpus: "1"
          memory: 1g
          
