services:
  clickhouse:
    image: clickhouse/clickhouse-server:latest
    container_name: clickhouse
    ports:
      - "8123:8123"  # HTTP interface
      - "9000:9000"  # Native TCP interface
    environment:
      CLICKHOUSE_USER: default
      CLICKHOUSE_PASSWORD: mysecretpassword
      CLICKHOUSE_DB: ct
    volumes:
      - ./clickhouse/init.sql:/docker-entrypoint-initdb.d/init.sql
      - /var/lib/clickhouse:/var/lib/clickhouse
    ulimits:
      nofile:
        soft: 262144
        hard: 262144
    deploy:
      resources:
        limits:
          cpus: "2"
          memory: 2g

  ingestion:
    build: ./ingestion
    container_name: ct_ingestor
    depends_on:
      - clickhouse
    restart: unless-stopped
    environment:
      CLICKHOUSE_HOST: clickhouse
      CLICKHOUSE_DB: ct
      CLICKHOUSE_USER: default
      CLICKHOUSE_PASSWORD: mysecretpassword
    deploy:
      resources:
        limits:
          cpus: "2"
          memory: 2g

  api:
    build: ./api
    container_name: ct_api
    profiles: ["api"]  # API is off by default
    environment:
      CLICKHOUSE_HOST: clickhouse
      CLICKHOUSE_DB: ct
      CLICKHOUSE_USER: default
      CLICKHOUSE_PASSWORD: mysecretpassword
      RATE_LIMIT_ENABLED: "false"
      RATE_LIMIT: "100/minute"
    ports:
      - "5000:5000"
    depends_on:
      - clickhouse
    restart: unless-stopped
    deploy:
      resources:
        limits:
          cpus: "2"
          memory: 2g
