services:
  clickhouse:
    image: clickhouse/clickhouse-server:latest
    container_name: clickhouse
    ports:
      - "8123:8123"
      - "9000:9000"
    environment:
      CLICKHOUSE_USER: ${CLICKHOUSE_USER}
      CLICKHOUSE_PASSWORD: ${CLICKHOUSE_PASSWORD}
      CLICKHOUSE_DB: ${CLICKHOUSE_DB}
    volumes:
      - ./clickhouse/init.sql:/docker-entrypoint-initdb.d/init.sql
      - /var/lib/clickhouse:/var/lib/clickhouse
    ulimits:
      nofile:
        soft: 262144
        hard: 262144
    deploy:
      resources:
        limits:
          cpus: "${CLICKHOUSE_CPUS:-2}"
          memory: "${CLICKHOUSE_MEM:-2g}"
          pids: 3000

  ingestion:
    build: ./ingestion
    container_name: ct_ingestor
    depends_on:
      - clickhouse
    restart: unless-stopped
    environment:
      USE_CLICKHOUSE: "true"
      CLICKHOUSE_HOST: ${CLICKHOUSE_HOST}
      CLICKHOUSE_USER: ${CLICKHOUSE_USER}
      CLICKHOUSE_PASSWORD: ${CLICKHOUSE_PASSWORD}
      CLICKHOUSE_DB: ${CLICKHOUSE_DB}
    deploy:
      resources:
        limits:
          cpus: "${INGESTION_CPUS:-2}"
          memory: "${INGESTION_MEM:-2g}"
          pids: 1000

  api:
    build: ./api
    container_name: ct_api
    profiles: ["api"]
    environment:
      CLICKHOUSE_HOST: ${CLICKHOUSE_HOST}
      CLICKHOUSE_USER: ${CLICKHOUSE_USER}
      CLICKHOUSE_PASSWORD: ${CLICKHOUSE_PASSWORD}
      CLICKHOUSE_DB: ${CLICKHOUSE_DB}
      RATE_LIMIT_ENABLED: ${RATE_LIMIT_ENABLED}
      RATE_LIMIT: ${RATE_LIMIT}
    volumes:
      - ./api/ips.txt:/app/ips.txt
    ports:
      - "5000:5000"
    depends_on:
      - clickhouse
    restart: unless-stopped
    deploy:
      resources:
        limits:
          cpus: "${API_CPUS:-2}"
          memory: "${API_MEM:-2g}"
          pids: 500
